{% extends "layout" %}
{% block content %}
<section class="p-2">
    <div class="Subhead Subhead--spacious">
        <h2 class="Subhead-heading">{{ class }}</h2>
    </div>
    <div class="Box">
        <div class="Box-header d-flex flex-items-center">
            <span class="Box-title flex-auto mr-3">Test</span>
            <span class="Box-title mr-3">Duration</span>
            <span class="Box-title">Outcome</span>
        </div>
            <ul>
            {% for t in tests %}
            <li class="Box-row Box-row--hover-gray" id="{{t.slug}}">
                <details>
                    <summary class="d-flex flex-items-center">
                        <div class="flex-auto mr-3">
                            <span class="btn-link">{{ t.method_name }} <span class="dropdown-caret"></span></span>
                            <span class="d-block text-small color-text-tertiary">{{ t.name }}</span>
                        </div>
                        <div class="mr-3">{{ t.duration }}</div>
                        <div class="Label {% case t.outcome %}
                                        {% when "Passed" %}
                                            Label--success
                                        {% when "Failed" %}
                                            Label--danger
                                        {% when "NotExecuted" %}
                                            Label--warning
                                    {% endcase %}">
                            {{ t.outcome }}
                        </div>
                    </summary>
                    <div class="mt-2 d-flex flex-wrap">
                        <p class="col-12 col-md-6 col-lg-3 pr-3"><strong>Start</Strong>: {{ t.start }}</p>
                        <p class="col-12 col-md-6 col-lg-3 pr-3"><strong>End</Strong>: {{ t.start }}</p>
                        <p class="col-12 col-md-6 col-lg-3 pr-3"><strong>Computer</strong>: {{ t.computer_name }}</p>
                        <p class="col-12 col-md-6 col-lg-3 pr-3"><strong>Adapter</strong>: {{ t.adapter }}</p>
                    </div>
                    <p><strong>CodeBase</strong>: {{ t.code_base }}</p>
                    {% if t.error -%}
                    <details class="details-reset mt-2">
                        <summary class="color-text-danger d-flex flex-items-center">
                            <pre class="flex-auto mr-3"><code>{{ t.error.message }}</code></pre>
                            <span class="btn-link">Stack trace <span class="dropdown-caret"></span></span>
                        </summary>
                        <pre class="overflow-x-auto mt-1 p-3" data-color-mode="dark" data-dark-theme="dark"><code>{{ t.error.stack_trace }}</code></pre>
                    </details>
                    {% endif -%}
                    {% if t.output -%}
                    <pre class="p-3 mt-2 overflow-x-auto" data-color-mode="dark" data-dark-theme="dark"><code>{{ t.output }}</code></pre>
                    {% endif -%}
                </details>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}