{% extends "layout" %}
{% block content %}
<div class="clearfix">
    <div class="col-12 col-md-6 float-left p-2">
        <div class="Box">
            <div class="Box-header">
                <h2 class="Box-title">
                Summary
                </h2>
            </div>
            <div class="Box-body">
                <div class="d-flex flex-justify-between">
                    <div>
                        <p class="color-text-success m2">{{ summary.passed }} passed</p>
                        <p class="color-text-danger">{{ summary.failed}} failed</p>
                        <p class="color-text-warning">{{ summary.skipped }} skipped</p>
                        <p class="color-text-info">{{ summary.other}} other</p>
                    </div>
                    <div class="text-right">
                        <p style="font-size: 2em">{{ summary.total_tests }} tests</p>
                        <p style="font-size: 3em">{{ summary.pass_percentage | round: 2 }}% passed</p>
                    </div>
                </div>
                <div>
                    <span class="Progress">
                        <span class="Progress-item color-bg-success-inverse" style="width: {{ summary.pass_percentage }}%;"></span>
                        <span class="Progress-item color-bg-danger-inverse" style="width: {{ summary.failed_percentage }}%;"></span>
                        {% if summary.skipped_percentage > 0 %}<span class="Progress-item color-bg-warning-inverse" style="width: {{ summary.skipped_percentage }}%;"></span>{% endif -%}
                        {% if summary.other_percentage > 0 %}<span class="Progress-item color-bg-info-inverse" style="width: {{ summary.other_percentage }}%;"></span>{% endif -%}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 float-left p-2">
        <div class="Box">
            <div class="Box-header">
                <h2 class="Box-title">
                Timings
                </h2>
            </div>
            <div class="Box-body">
                <p><strong>Creation</strong>: {{ timings.creation }}</p>
                <p><strong>Queuing</strong>: {{ timings.queuing }}</p>
                <p><strong>Start</strong>: {{ timings.start }}</p>
                <p><strong>Finish</strong>: {{ timings.finish }}</p>
                <p class="mb-0"><strong>Duration</strong>: {{ timings.Duration }}</p>
            </div>
        </div>
    </div>
</div>
<section class="p-2">
    <div class="Box">
        <div class="Box-header d-flex flex-items-center">
            <span class="Box-title flex-auto">Test Class</span>
            <span class="Box-title hide-sm hide-md col-1 flex-shrink-0 mr-3">Passed</span>
            <span class="Box-title hide-sm hide-md col-1 flex-shrink-0 mr-3">Failed</span>
            <span class="Box-title col-2 col-md-1 flex-shrink-0 mr-3">Pass rate</span>
            <details class="text-right col-2 col-md-1 flex-shrink-0 dropdown details-reset details-overlay d-inline-block">
                <summary class="Box-title p-2 d-inline" aria-haspopup="true">
                Outcome
                <div class="dropdown-caret"></div>
                </summary>
                <div class="SelectMenu right-0">
                    <div class="SelectMenu-modal">
                        <div class="SelectMenu-list">
                        {% assign outcomes = "Passed,Failed,NotExecuted,Other" | split: "," %}
                        {% for outcome in outcomes %}
                        <button class="SelectMenu-item test-list-filter" role="menuitemcheckbox" data-filter="{{outcome}}">
                            <svg class="SelectMenu-icon SelectMenu-icon--check octicon octicon-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.78 4.22C13.9204 4.36062 13.9993 4.55125 13.9993 4.75C13.9993 4.94875 13.9204 5.13937 13.78 5.28L6.53 12.53C6.38937 12.6704 6.19875 12.7493 6 12.7493C5.80125 12.7493 5.61062 12.6704 5.47 12.53L2.22 9.28C2.08752 9.13782 2.0154 8.94978 2.01882 8.75547C2.02225 8.56117 2.10096 8.37579 2.23838 8.23837C2.37579 8.10096 2.56118 8.02225 2.75548 8.01882C2.94978 8.01539 3.13782 8.08752 3.28 8.22L6 10.94L12.72 4.22C12.8606 4.07955 13.0512 4.00066 13.25 4.00066C13.4487 4.00066 13.6394 4.07955 13.78 4.22Z"></path></svg>
                            {{ outcome }}
                        </button>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </details>
        </div>
            <ul id="test-list">
            {% for t in tests %}
            <li class="Box-row Box-row--hover-gray d-flex flex-items-center" data-outcome="{{ t.summary.overall_outcome }}">
                <div class="flex-auto Truncate mr-3"><a class="Truncate-text" href="{{t.slug}}">{{ t.key }}</a></div>
                <div class="hide-sm hide-md col-1 flex-shrink-0 mr-3">{{ t.summary.passed }}</div>
                <div class="hide-sm hide-md col-1 flex-shrink-0 mr-3">{{ t.summary.failed }}</div>
                <div class="col-2 col-md-1 flex-shrink-0 mr-3">{{ t.summary.pass_percentage | round: 2 }}%</div>
                <div class="col-2 col-md-1 flex-shrink-0 text-right">
                    <span class="Label {% case t.summary.overall_outcome -%}
                                    {% when "Passed" -%}
                                        Label--success
                                    {% when "Failed" -%}
                                        Label--danger
                                    {% when "NotExecuted" -%}
                                        Label--warning
                                {% endcase -%}">
                    {{ t.summary.overall_outcome }}
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}