{% extends "layout" %}
{% block content %}
<div class="clearfix">
    <div class="col-12 col-md-6 float-left p-2">
        <div class="Box">
            <div class="Box-header">
                <h2 class="Box-title">
                Summary
                </h2>
            </div>
            <div class="Box-body">
                <div class="d-flex flex-justify-between">
                    <div>
                        <p class="color-text-success m2">{{ summary.passed }} passed</p>
                        <p class="color-text-danger">{{ summary.failed}} failed</p>
                        <p class="color-text-warning">{{ summary.skipped }} skipped</p>
                        <p class="color-text-info">{{ summary.other}} other</p>
                    </div>
                    <div class="text-right">
                        <p style="font-size: 2em">{{ summary.total_tests }} tests</p>
                        <p style="font-size: 3em">{{ summary.pass_percentage | round: 2 }}% passed</p>
                    </div>
                </div>
                <div>
                    <span class="Progress">
                        <span class="Progress-item color-bg-success-inverse" style="width: {{ summary.pass_percentage }}%;"></span>
                        <span class="Progress-item color-bg-danger-inverse" style="width: {{ summary.failed_percentage }}%;"></span>
                        {% if summary.skipped_percentage > 0 %}<span class="Progress-item color-bg-warning-inverse" style="width: {{ summary.skipped_percentage }}%;"></span>{% endif -%}
                        {% if summary.other_percentage > 0 %}<span class="Progress-item color-bg-info-inverse" style="width: {{ summary.other_percentage }}%;"></span>{% endif -%}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 float-left p-2">
        <div class="Box">
            <div class="Box-header">
                <h2 class="Box-title">
                Timings
                </h2>
            </div>
            <div class="Box-body">
                <p><strong>Creation</strong>: {{ timings.creation }}</p>
                <p><strong>Queuing</strong>: {{ timings.queuing }}</p>
                <p><strong>Start</strong>: {{ timings.start }}</p>
                <p><strong>Finish</strong>: {{ timings.finish }}</p>
                <p><strong>Duration</strong>: {{ timings.Duration }}</p>
            </div>
        </div>
    </div>
</div>
<section class="p-2">
    <div class="Box">
        <div class="Box-header d-flex flex-items-center">
            <span class="Box-title flex-auto">Test Class</span>
            <span class="Box-title hide-sm hide-md col-1 flex-shrink-0 mr-3">Passed</span>
            <span class="Box-title hide-sm hide-md col-1 flex-shrink-0 mr-3">Failed</span>
            <span class="Box-title col-2 col-md-1 flex-shrink-0 mr-3">Pass rate</span>
            <span class="Box-title col-2 col-md-1 flex-shrink-0 text-right">Outcome</span>
        </div>
            <ul>
            {% for t in tests %}
            <li class="Box-row Box-row--hover-gray d-flex flex-items-center">
                <div class="flex-auto Truncate mr-3"><a class="Truncate-text" href="{{t.slug}}">{{ t.key }}</a></div>
                <div class="hide-sm hide-md col-1 flex-shrink-0 mr-3">{{ t.summary.passed }}</div>
                <div class="hide-sm hide-md col-1 flex-shrink-0 mr-3">{{ t.summary.failed }}</div>
                <div class="col-2 col-md-1 flex-shrink-0 mr-3">{{ t.summary.pass_percentage | round: 2 }}%</div>
                <div class="col-2 col-md-1 flex-shrink-0 text-right">
                    <span class="Label {% case t.summary.overall_outcome -%}
                                    {% when "Passed" -%}
                                        Label--success
                                    {% when "Failed" -%}
                                        Label--danger
                                    {% when "NotExecuted" -%}
                                        Label--warning
                                {% endcase -%}">
                    {{ t.summary.overall_outcome }}
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}